# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/mxg-security-base/target/
/mxg-security-web/target/
/mxg-security-core/target/
